@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.topheading {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}



video {

  height: 850px;
  width: 100%;
  object-fit: cover;
}

.left_side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1270px) {

  .left_side {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}


::placeholder {
  color: red;
  opacity: 1;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}